<section class="companies-home">
  <div class="container">
    <h2 class="center-align companies-tittle">{{'companies.tittle' | translate}}</h2>
      <div class="row">
        <div class="col m4 s12 center-align logos">
          <img src="./assets/img/movile.png" alt="">
        </div>
        <div class="col m4 s12 center-align logos">
          <img src="./assets/img/psl.png" alt="">
        </div>
        <div class="col m4 s12 center-align logos">
          <img src="./assets/img/ath.png" alt="">
        </div>
      </div>
      <div class="row">
        <div class="col m4 s12 center-align logos">
          <img src="./assets/img/alta.png" alt="">
        </div>
        <div class="col m4 s12 center-align logos">
          <img src="./assets/img/hitss.png" alt="">
        </div>
        <div class="col m4 s12 center-align logos">
          <img src="./assets/img/prodigious.png" alt="">
        </div>
      </div>
  </div>
</section>
