section {
  padding: 2rem 0 1rem 0;
}
.bio-tittle {
  font-size: 2rem;
  font-family: 'Quicksand', sans-serif;
}

.bio-content {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  line-height: 2rem;
  color: #555555;
}
